  /* Element Selectors */
  h6 {
    color: red
}

/* ID Selectors */
#color-h {
font-size: small;
} 

/* Class Selectors */
.my-first {
font-weight: bold;
}


.nav-bar {
    display: flex;
    margin: 20px auto;
    border: 1px solid red;
    padding: 10px;
    justify-content: space-evenly;
    background-color: gray
}

.main-style {
    margin-left: 20px;
    margin-right: 20px;
}

.link-style {
    text-decoration-color: white;
}